<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/assets/style/app.css">
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
        <script src="/assets/js/firebase.js"></script>

        <div class="ui main text container segment">
            <div class="ui huge header centered">Register</div>
            <form class="ui form">
                <div class="field">
                    <label>email</label>
                    <input type="email" id="email" name="email" placeholder="email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" id="password" name="password" placeholder="password">
                </div>
                <button id="register" class="ui violet inverted button">Register</button>
                <a href="/login"><button class="ui yellow inverted button" style="margin-left: 12em;">LogIn</button></a>
            </form>
        </div>

        <script>
            console.log("connected");
            const button = document.getElementById("register");
            button.addEventListener("click", function(){ 
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                console.log(email);
                
                firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    alert(errorMessage);
                }).then(
                    alert("account created")
                );
                  
            });
            
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    var uid = user.uid;  
                    console.log(user);
                    window.location.href = "index";
                } else {
                    //no user signed in
                }
            });
        
        </script>
       
 </body>
    
</html>